.market-footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .market-footer-wrap__link {
    font-weight: normal;
    font-size: 2rem;
    line-height: 130%;
    text-align: right;
    color: #949393;
  }
  
  .market-footer-wrap__link:last-child {
    border-bottom: 1px solid #949393;
  }
  
  .market-footer-wrap__link:last-child:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }